.register {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../../assets/images/bg-register.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.register__overlay {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(0, 0, 0, 0.55);
}

.register__card {
    width: 529px;
    max-width: 90%;

    padding: 40px;

    border-radius: 16px;

    background: rgba(24, 26, 28, 0.712);
    backdrop-filter: blur(5px);

    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.35);
}

.register__logo {
    width: 140px;

    display: block;

    margin: 0 auto 15px;
}

.register__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    font-size: 32px;

    font-weight: 700;
}

.register__subtitle {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 36px;

    text-align: center;

    color: #C1C2C4;
}

.register__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.register__helper {
    margin: 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.register__helper p {
    color: #C1C2C4;
}

.register__helper p a {
    color: white;
    font-weight: 600;
}

.register__helper a {
    color: white;
    transition: .25s;
}

.register__helper a:hover {
    color: #3254FF;
}


.register__action {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.register__action span {
    text-align: center;

    color: #9CA3AF;
}

.register__divider {
    text-align: center;

    color: #9CA3AF;

    font-size: 1px;
}