.watch{
    width: 100%;
    min-height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* ===========================
        TABLET
=========================== */
@media (max-width: 992px){

    .watch{
        min-height: 100vh;
    }

}

/* ===========================
        MOBILE
=========================== */
@media (max-width: 768px){

    .watch{
        min-height: 100vh;
    }

}