.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    border: none;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.btn img{
    width: 18px;

    height: 18px;
}

.btn--primary{
    background: #3d4142;

    color: white;
}

.btn--primary:hover{
    background: transparent;
}

.btn--outline{
    background: transparent;

    border: 1px solid #4A4E50;
    
    color: white;
}