/* ===========================
   Google Font
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Londrina+Solid:wght@400;900&display=swap');

/* ===========================
   Reset
=========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background: #181A1C;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}