.movie-card {
    width: 234px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card__image {
    width: 100%;
    display: block;
    border-radius: 8px;
}